<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>后台管理 - 统计详情页</title>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>统计详情</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="/admin/" class="list-group-item active">统计</a>
                <a href="users.html" class="list-group-item">用户管理</a>
                <a href="email_setting.html" class="list-group-item">发送邮箱设置</a>
            </div>
        </div>
        <div class="col-md-8">
            <div th:object="${city}">城市: <span th:text="*{city}">北京</span></div>
            <table class="table table-hover">
                <tr>
                    <th>日期</th>
                    <th>日用户量</th>
                    <th>周用户量</th>
                    <th>月用户量</th>
                    <th>00:00 ~ 01:00</th>
                    <th>01:00 ~ 02:00</th>
                    <th>02:00 ~ 03:00</th>
                    <th>03:00 ~ 04:00</th>
                    <th>04:00 ~ 05:00</th>
                    <th>05:00 ~ 06:00</th>
                    <th>06:00 ~ 07:00</th>
                    <th>07:00 ~ 08:00</th>
                    <th>08:00 ~ 09:00</th>
                    <th>09:00 ~ 10:00</th>
                    <th>10:00 ~ 11:00</th>
                    <th>11:00 ~ 12:00</th>
                    <th>12:00 ~ 13:00</th>
                    <th>13:00 ~ 14:00</th>
                    <th>14:00 ~ 15:00</th>
                    <th>15:00 ~ 16:00</th>
                    <th>16:00 ~ 17:00</th>
                    <th>17:00 ~ 18:00</th>
                    <th>18:00 ~ 19:00</th>
                    <th>19:00 ~ 20:00</th>
                    <th>20:00 ~ 21:00</th>
                    <th>21:00 ~ 22:00</th>
                    <th>22:00 ~ 23:00</th>
                    <th>23:00 ~ 24:00</th>
                </tr>
                <tr th:each="cityUserStatDetail : ${page.content}">
                    <td th:text="${cityUserStatDetail.statDate}">2016-01-01</td>
                    <td th:text="${cityUserStatDetail.countDay}">0</td>
                    <td th:text="${cityUserStatDetail.countWeek}">0</td>
                    <td th:text="${cityUserStatDetail.countMonth}">0</td>
                    <td th:text="${cityUserStatDetail.countHour1}">0</td>
                    <td th:text="${cityUserStatDetail.countHour2}">0</td>
                    <td th:text="${cityUserStatDetail.countHour3}">0</td>
                    <td th:text="${cityUserStatDetail.countHour4}">0</td>
                    <td th:text="${cityUserStatDetail.countHour5}">0</td>
                    <td th:text="${cityUserStatDetail.countHour6}">0</td>
                    <td th:text="${cityUserStatDetail.countHour7}">0</td>
                    <td th:text="${cityUserStatDetail.countHour8}">0</td>
                    <td th:text="${cityUserStatDetail.countHour9}">0</td>
                    <td th:text="${cityUserStatDetail.countHour10}">0</td>
                    <td th:text="${cityUserStatDetail.countHour11}">0</td>
                    <td th:text="${cityUserStatDetail.countHour12}">0</td>
                    <td th:text="${cityUserStatDetail.countHour13}">0</td>
                    <td th:text="${cityUserStatDetail.countHour14}">0</td>
                    <td th:text="${cityUserStatDetail.countHour15}">0</td>
                    <td th:text="${cityUserStatDetail.countHour16}">0</td>
                    <td th:text="${cityUserStatDetail.countHour17}">0</td>
                    <td th:text="${cityUserStatDetail.countHour18}">0</td>
                    <td th:text="${cityUserStatDetail.countHour19}">0</td>
                    <td th:text="${cityUserStatDetail.countHour20}">0</td>
                    <td th:text="${cityUserStatDetail.countHour21}">0</td>
                    <td th:text="${cityUserStatDetail.countHour22}">0</td>
                    <td th:text="${cityUserStatDetail.countHour23}">0</td>
                    <td th:text="${cityUserStatDetail.countHour24}">0</td>
                </tr>
            </table>
            <nav class="pull-right">
                <ul class="pagination">
                    <li th:class="${page.first} ? 'disabled' : ''"><a href="/admin/?pageNumber=1">&laquo;</a></li>
                    <li th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number eq pageNo}? 'active' : ''">
                        <a th:href="@{/admin/(pageNumber=${pageNo + 1})}" th:text="${pageNo + 1}"></a>
                    </li>
                    <li th:class="${page.last} ? 'disabled' : ''"><a th:href="@{/admin/(pageNumber=${page.totalPages})}">&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy;2016 zhaolei</p>
    </div>
</footer>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="//cdn.jsdelivr.net/ie10-viewport/1.0.0/ie10-viewport.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery/1.12.1/jquery.min.js"></script>
</html>